{
    "projectname": "more_uba",
    "Band1": {
        "DIMENSION_LIST": "????",
        "_FillValue": -99999,
        "grid_mapping": "transverse_mercator",
        "long_name": "GDAL Band Number 1"'
    },
    "transverse_mercator": {
         "GeoTransform": "280000 10 0 6102710 0 -10",
        "false_easting": 500000.0,
        "false_northing": 0.0,
        "grid_mapping_name": "transverse_mercator",
        "inverse_flattening": 298.257222101,
        "latitude_of_projection_origin": 0.0,
        "long_name": "CRS definition",
        "longitude_of_central_meridian": 9.0,
        "longitude_of_prime_meridian": 0.0,
        "scale_factor_at_central_meridian": 0.9996,
        "semi_major_axis" : 6378137.0,
        "spatial_ref": "PROJCS["ETRS89_UTM_zone_32N",GEOGCS["GCS_ETRS_1989",DATUM["European_Terrestrial_Reference_System_1989",SPHEROID["GRS_1980",6378137,298.257222101]],PRIMEM["Greenwich",0],UNIT["Degree",0.017453292519943295]],PROJECTION["Transverse_Mercator"],PARAMETER["latitude_of_origin",0],PARAMETER["central_meridian",9],PARAMETER["scale_factor",0.9996],PARAMETER["false_easting",500000],PARAMETER["false_northing",0],UNIT["Meter",1]]"
    },
    "x": {
        "CLASS": "DIMENSION_SCALE",
        "NAME": "x",
        "REFERENCE_LIST": "???",
        "_Netcdf4Dimid": 0.0,
        "long_name": "x coordinate of projection",
        "latitude_of_projection_origin": 0.0,
        "standard_name": "projection_x_coordinate",
        "units": "m"
    },
    "x": {
        "CLASS": "DIMENSION_SCALE",
        "NAME": "x",
        "REFERENCE_LIST": 0.0,
        "_Netcdf4Dimid": 0,
        "long_name": "y coordinate of projection",
        "latitude_of_projection_origin": 0.0,
        "standard_name": "projection_y_coordinate",
        "units": "m"
    },
}
