{
    "general": {
        "projectname": "more_uba",
        "scenario": "final",
        "years": ["2016-2018"],
        "static": 0,
        "minx": 280000.0,
        "width": 643,
        "maxx": 923000.0,
        "maxy": 6102710.0,
        "miny": 5235710.0,
        "epsg": "25832",
        "resolution": 1000,
        "GeoTransform": "280000 1000 0 6102710 0 -1000",
    	"levelId": 1,
    	"height": 867,
        "cellsize": 1000,
        "projection": "PROJCS[\"ETRS89_UTM_zone_32N\",GEOGCS[\"GCS_ETRS_1989\",DATUM[\"European_Terrestrial_Reference_System_1989\",SPHEROID[\"GRS_1980\",6378137,298.257222101]],PRIMEM[\"Greenwich\",0],UNIT[\"Degree\",0.017453292519943295]],PROJECTION[\"Transverse_Mercator\"],PARAMETER[\"latitude_of_origin\",0],PARAMETER[\"central_meridian\",9],PARAMETER[\"scale_factor\",0.9996],PARAMETER[\"false_easting\",500000],PARAMETER[\"false_northing\",0],UNIT[\"Meter\",1]]",
        "false_easting": 500000.0,
        "false_northing": 0.0,
        "grid_mapping_name": "transverse_mercator",
        "inverse_flattening": 298.257222101,
        "latitude_of_projection_origin": 0.0,
        "long_name": "CRS definition",
        "longitude_of_central_meridian": 9.0,
        "longitude_of_prime_meridian": 0.0,
        "scale_factor_at_central_meridian": 0.9996,
        "semi_major_axis": 6378137.0,
        "path_data": "/var/prog/daten_stb",
        "grid_level_config": "/var/prog/daten_stb/more_uba/config/grid_levels/grid_levels.config",
        "path_preprocessing_exec": "/mnt/galfdaten/Programmierung/tools/more_uba/import/"
    },
    "pBudget": {}
}
